@font-face {
  src: url('../fonts/stratum-2-web.woff');
  font-family: 'stratum';
}

* {
  transition: 0.3s all;
}

html, body, body > div {
  font-family: 'stratum';
  height: 100%;
}

section {
  height: 90%;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin-right: 20px;
}

ul li:hover {
  border-bottom: 2px solid #FEF9C4;
  cursor: pointer;
}


ul li a{
  text-decoration: none;
  color: #FEF9C4;
}

ul li a:hover{
  text-decoration: none;
  color: #FEF9C4;
}

a.active {
  border-bottom: 4px solid #FEF9C4;
}

#main-header{
  position: fixed;
  color: #FEF9C4;
  width: 100%;
  padding: 60px;
  background-color: #EE692A;
}

#main-header div {
  font-size: 2.5vw;
  display: inline-block;
  float: left;
  padding-top: 5px;
}

#main-header nav{
  float: right;
  font-size: 1.5vw;
  transition: 0.5s all;
  padding-top: 13px;
}

#home {
  text-align: center;
  background-color: #EE692A;
  color: #FEF9C4;
  padding: 175px 0px 100px 0px;
}

#sfd-title {
  font-size: 5vw;
}

#smvdu {
  font-size: 2.5vw;
}

#on-date {
  font-size: 3vw;
}

.btn-outline {
  color: #FEF9C4;
  border-color: #FEF9C4;
  border-width: 2px;
  background-color: transparent;
  font-size: 2.5vw;
  margin-top: 20px;
  width: 20%;
}

.btn-outline:hover {
    background-color: #FEF9C4;
    color: #EE692A;
}

.current {
  background-color: #FEF9C4;
  color: #fff;
}

#about, #registration, #events {
  background-color: #FEF9C4;
  color: #EE692A;
  padding: 200px 100px;
  font-size: 2vw;
}

#reach-us
{
  background-color: #FEF9C4;
  color: #EE692A;
  padding: 100px 50px 0px 50px;
  font-size: 2vw;
}

#events {
  background-color: #B4AC55;
  color: #fff;
}

#registration {
  background-color: #ECF0F1;
  color: #414141;
}

#reach-us {
  background-color: #34495E;
  color: #ccc;
}

footer{
  height: 14%;
  background-color:  #c3c3c3;
  color: #000;
}

footer div{
  float: left;
  font-size: 1.5vw;
}

#nav-left{
  margin: 1.6em 1em 1em 5em;
}

#nav-git{
  margin: 0.9em;
  margin-left: 0;
}

#nav-right{
  margin: 0.5em 2em 0.5em 10em;
}

/*reduces the padding of header*/
.shrink {
  padding: 10px 70px !important;
}

@media (max-width: 1024px) and (min-width: 768px) {

  ul li {
    margin-right: 15px;
  }

  #main-header {
    padding: 50px;
  }

  #main-header div {
    font-size: 2.8vw;
  }

  #main-header nav {
    font-size: 1.8vw;
    padding-top: 10px;
  }

  #home {
    padding: 140px 0px 75px 0px;
  }

  #sfd-title {
  font-size: 5.5vw;
  }

  #smvdu {
    font-size: 3vw;
  }

  #on-date {
    font-size: 3.5vw;
  }

  .btn-outline {
    font-size: 3vw;
    margin-top: 15px;
  }

  #about {
    padding: 125px 75px;
    font-size: 2.5vw;
  }

  #nav-left{
    margin: 1.6em 1em 1em 2em;
  }

  #nav-git{
    margin: 0.9em;
    margin-left: 0;
  }

  #nav-right{
    margin: 0.5em 1em 0.5em 1em;
  }

}

@media (max-width: 767px) {

  #nav-left{
    margin: 1.6em 1em 1em 2em;
  }

  #nav-git{
    margin: 0.9em;
    margin-left: 0;
  }

  #nav-right{
    margin: 0.5em 1em 0.5em 1em;
  }
}


#reach-left
{
  font-size: 2vw;
  float: left;
}

#reach-right
{
  font-size: 1.2vw;
  position: absolute;
  right: 20px;
}

#faculty
{
  width: 200px;
  height: 180px;
}

#students
{
  width: 400px;
  height: 180px;
}


#location
{
  width: 100%;
  max-width: 70.5rem;
  overflow: hidden;
  padding-right: 50px;
}


#location iframe
{
  padding:1px;
  border:1px solid #021a40;
  background-color:#000;
}

.profile {
  border: 3px solid #fff;
  border-radius: 100px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.3);
  float:left;
  height: 150px;
  margin: 15px;
  overflow: hidden;
  width: 150px;
  transition: .5s;
}

.profile img {
  height: 100%;
  width: 100%;
}

.profile:hover {
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transition: .5s;
} 

@media all and (min-height:250px)  { #location{max-height:10rem;}}
@media all and (min-height:350px)  { #location{max-height:15rem;}}
@media all and (min-height:400px)  { #location{max-height:20rem;}}
@media all and (min-height:500px)  { #location{max-height:30rem;}}
@media all and (min-height:600px) { #location{max-height:50rem;}}


@media all and (min-width:200px)  { #location{max-width:25rem;} 
.profile{width:50px;height: 50px;}#faculty{height:80px }#students{height:80px } }
@media all and (min-width:768px)  { #location{max-width:40rem;}
.profile{width:100px;height: 100px;}#faculty{height:130px }#students{height:130px } }

@media all and (min-width:1024px) { #location{max-width:65rem;}
.profile{width:120px;height: 120px;} #faculty{height:150px }#students{height:150px }}
@media all and (min-width:1366px) { #location{max-width:70.5rem;}
.profile{width:150px;height: 150px;} #faculty{height:180px }#students{height:180px }}