@font-face {
  src: url('../fonts/stratum-2-web.woff');
  font-family: 'stratum';
}

* {
  transition: 0.3s all;
}

body {
  font-family: 'stratum';  
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin-right: 20px;  
}

ul li:hover {
  border-bottom: 2px solid #FEF9C4;
}

#main-header{
  position: fixed;
  color: #FEF9C4;
  width: 100%;
  padding: 70px;
  background-color: #EE692A;
}

#main-header div {
  font-size: 2.5vw;
  display: inline-block;
  float: left;
  padding-top: 5px;
}

#main-header nav{
  float: right;
  font-size: 1.5vw;
  transition: 0.5s all;
  padding-top: 13px;
}

#home {
  text-align: center;
  background-color: #EE692A;
  color: #FEF9C4;
  padding: 175px 0px 100px 0px;
}

#sfd-title {
  font-size: 5vw;
}

#smvdu {
  font-size: 2.5vw;
}

#on-date {
  font-size: 3vw;
}

.btn-outline {
  color: #FEF9C4;
  border-color: #FEF9C4;
  border-width: 2px;
  background-color: transparent;
  font-size: 2.5vw;
  margin-top: 20px; 
  width: 20%;
}

.btn-outline:hover {
    background-color: #FEF9C4;
    color: #EE692A;
}

#about {
  background-color: #FEF9C4;
  color: #EE692A;
  padding: 150px 100px;
  font-size: 2vw;
}

@media (max-width: 1024px) and (min-width: 768px) {
  
  ul li {
    margin-right: 15px;
  }

  #main-header {
    padding: 50px;
  }

  #main-header div {
    font-size: 2.8vw;
  }

  #main-header nav {
    font-size: 1.8vw;
    padding-top: 10px;
  }

  #home {
    padding: 140px 0px 75px 0px;
  }

  #sfd-title {
  font-size: 5.5vw;
  }

  #smvdu {
    font-size: 3vw;
  }

  #on-date {
    font-size: 3.5vw;
  }

  .btn-outline {
    font-size: 3vw;
    margin-top: 15px; 
  }

  #about {
    padding: 125px 75px;
    font-size: 2.5vw;
  }

}