/*-------------- Common Styles -------------*/
@font-face {
  src: url('../fonts/stratum-2-web.woff');
  font-family: 'stratum';
}

@font-face {
  src: url('../fonts/stratum-2-web-bold.woff');
  font-family: 'stratum-bold';
}

* {
  transition: 0.3s all;
}

html, body, body > div {
  font-family: 'stratum';
  height: 100%;
}

section {
  min-height: 90%;
}

section article {
  width: 100%;
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #FEF9C4;
}

a:hover{
  text-decoration: none;
  color: #FEF9C4;
}

a.active {
  border-bottom: 2px solid #FEF9C4;
}

/*reduces the padding of header*/
.shrink {
  padding: 10px 70px !important;
}

/*---------------- Header Section --------------*/
#main-header{
  position: fixed;
  color: #FEF9C4;
  width: 100%;
  padding: 60px;
  background-color: #EE692A;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#main-header div {
  font-size: 2vw;
}

#main-header nav{
  font-size: 1.25vw;
  transition: 0.5s all;
}

#main-header ul li {
  display: inline-block;
  margin-right: 15px;
  line-height: 1;
}

#main-header ul li:hover {
  border-bottom: 2px solid #FEF9C4;
  cursor: pointer;
}


/*---------------- Home Section ---------------*/
#home {
  text-align: center;
  background-color: #EE692A;
  color: #FEF9C4;
  padding: 175px 0px 100px 0px;
  min-height: 100%;
}

#home > div {  
  display: flex;  
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

#home > div div {
  flex-grow: 1;
}

#home h4 {
  font-family: "stratum-bold";
  margin-top: 5%;
}

#sfd-title {
  font-size: 7vw;
}

#smvdu {
  font-size: 2.5vw;
}

#on-date {
  font-size: 2.5vw;
}

.btn-outline {
  color: #FEF9C4;
  border-color: #FEF9C4;
  border-width: 2px;
  background-color: transparent;
  font-size: 2.5vw;
  margin-top: 3%;
  width: 20%;
}

.btn-outline:hover {
    background-color: #FEF9C4;
    color: #EE692A;
}

.current {
  background-color: #FEF9C4;
  color: #fff;
}

#about, #registration, #events {
  background-color: #FEF9C4;
  color: #EE692A;
  display: flex;
  align-items: center;
  padding: 0px 8%;
  font-size: 2vw;
}

.big{
  font-size: 3.5vw;
  line-height: 1;
}

.bold {
  font-weight: bold;
  background-color: #FAE4AC;
  padding: 0.1% 1%;
  border-radius: 4px;
}

/*------------------Event page-----------------*/

#events {
  background-color: #3D3D3D;
  color: #fff;
  padding-top: 7%;
  padding-bottom: 3%;
}

#events article {
  align-self: baseline;
}

#events h1 {
  text-align: center;
  font-size: 3vw;
  color: #ccc;
}

#events ul {
  width: 100%;
  font-size: 1.275vw;
  padding: 3%;
}

#events li {
  display: flex;  
  justify-content: space-between;
}

.list-apart{
  
}

.date-time-place {
  width: 18%;
  border-right: 4px solid #EE692A;  
  padding: 1% 0;
}

.list-apart .date-time-place {
  border-right: 2px solid #ccc;
  height: 25px;
}

.list-apart .time, .list-apart .date, .list-apart .place {
  opacity: 0;
}

.time {

}

.date {

}

.place {

}

.event-info-wrapper {
  flex-grow: 2;
  padding-left: 3%;
  width: 80%;  
}

.list-apart .event-info-wrapper {
  opacity: 0;
}

.event-title {
  font-size: 1.5vw;
  padding-bottom: 0.5%;
}

.event-title i {
  font-size: 1vw;
  float: right;
  color: #fff;
}

.event-summary {
  border-top: 1px solid #555;
  padding-top: 1%;
}

#events span {
  font-size: 1.3vw;
}
/*-------------------Event page ends-----------------*/
#registration {
  background-color: #ECF0F1;
  color: #414141;
  padding-top: 6%;
  padding-bottom: 6%;
}

#registration .btn-outline {
  color: #357ebd;
  width: 100%;
  border: 1px solid;
  margin-top: 2%;
}

#registration .btn-outline:hover {
  color: #fff;
  background-color: #357ebd;
}

#registration input {
  font-size: 1.5vw;
  height: 50px;
}

footer {
  color: #000;
  padding: 18px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#license-content {
  flex-grow: 2;
  margin-left: 10px;
}

#license-content a {
  color: #EE692A;
}

#license-content a:hover, #follow a:hover {
  text-decoration: underline;
  color: #EE692A;
}

#follow a{
  color: #202020;
}



/*--------------- Media Queries ----------------------*/
/* Keep this section at the last */
@media (max-width: 1024px) and (min-width: 768px) {

  ul li {
    margin-right: 12px;
  }

  #main-header {
    padding: 50px;
  }

  #main-header div {
    font-size: 2.5vw;
  }

  #main-header nav {
    font-size: 1.7vw;
  }

  #home {
    padding: 140px 0px 75px 0px;
  }

  #sfd-title {
  font-size: 7vw;
  }

  #smvdu {
    font-size: 3vw;
  }

  #on-date {
    font-size: 3.5vw;
  }

  .btn-outline {
    font-size: 3vw;
  }

  #about, #registration, #events {
    font-size: 2.5vw;
  }

  .big {
    font-size: 4.5vw;
  }

  .bold {
    border-radius: 3px;
  }

  #events h1 {
    font-size: 4vw;
  }

  #events ul {
    font-size: 1.6vw;
  }

  .event-title {
    font-size: 1.9vw;
  }

  .event-title i {

  }

  #contacts {
    font-size: 2.5vw;
  }

}

/*------------------Angular Animations---------------*/

.ng-enter {
  opacity: 0;
  margin-top: -3%;
  transition: 0.3s all ease-out;
}

.ng-enter.ng-enter-active {
  opacity: 1;
  margin-top: 0%;
}

.ng-leave {
  opacity: 0;
}

.ng-hide-add, .ng-hide-remove {
  display: block !important;
}

.ng-hide-add,.ng-hide-remove, 
.ng-hide-add.ng-hide-add-active,
.ng-hide-remove.ng-hide-remove-active {
  transition:0.3s all ease-out;  
}

.ng-hide-add, 
.ng-hide-remove.ng-hide-remove-active {
  padding-left: 0px;
  opacity: 1;
}

.ng-hide-remove, 
.ng-hide-add.ng-hide-add-active {
  opacity:0;
  padding-left: 10px;
}

.event-title i.ng-hide-remove, .event-title i.ng-hide-add {
  transition: 0s all linear;
}

/*----------------------Reach Us Page--------------------*/

#contacts {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 15%;
  margin-left: 5%;
  padding: 2% 1%;
  font-size: 1.5vw;
  line-height: 2;
}

#contacts h2 {
  text-align: center;
  font-size: 3vw;
}

#contacts span {
  text-align: center;
}

#reach article
{ 
  z-index: 0;
  position: relative;
  height: 100%;
}

#reach iframe {
  height: 100%;
  width: 100%;
  border: none !important;
}
