<header id="main-header" my-scroll-directive>
  <div>
    SFD SMVDU
  </div>
  <nav>
    <ul>
      <li><a href="#home" du-scrollspy du-smooth-scroll>Home</a>
      <li><a href="#about" du-scrollspy du-smooth-scroll>About</a>
      <li><a href="#events" du-scrollspy du-smooth-scroll>Events</a>
      <li><a href="#registration" du-scrollspy du-smooth-scroll>Registration</a>
      <li><a href="#reach-us" du-scrollspy du-smooth-scroll>Reach Us</a>
    </ul>
  </nav>
</header>
<section id="home">
  <p id='sfd-title'>Software Freedom Day</p>
  <div>
    <div><hr/></div>
    <div id="smvdu"><i class="fa fa-calendar"></i> 20th September 2014,  <i class="fa fa-map-marker"></i> SMVDU</div>
    <div><hr/></div>
  </div>  
  <p><a class="btn btn-lg btn-outline" href="#registration" du-scrollspy du-smooth-scroll>Register</a></p>
</section>
<section id="about">
    <article>
      <span class="big">S</span>oftware <span class="big">F</span>reedom <span class="big">D</span>ay is dedicated to the awesome world of Open Source. It is a worldwide celebration of Open Source and Free Software. Being an alma mater of numerous Open Source Contributers and Supporters,  <span class="bold">SMVDU</span> is going to continue to be a part of <span class="bold">SFD 2014</span>, which falls on  <span class="bold">20th September</span> this year. In the spirit of Open Source Revolution we will be supporting and spreading the word about Open Source World by conducting a few workshops, competitions and talks during this Software Freedom Day. It's going to be a day full of knowledge, contribution and fun. We are eagerly waiting for you to be a part of Software Freedom Day at SMVDU.
    </article>
</section>
<section id="events">
  <article>
    <h1>Event Schedule</h1>
    <ul>
      <li ng-repeat="event in events track by $index" ng-class="checkListApart($index)">
        <div class="date-time-place">
          <div class="date" ng-show="summary[$index]"><i class="fa fa-calendar-o"></i> {{event.date}}</div>
          <div class="time"><i class="fa fa-clock-o"></i> {{event.time}}</div>
          <div class="place" ng-show="summary[$index]"><i class="fa fa-map-marker"></i> {{event.place}}</div>
        </div>
        <div class="event-info-wrapper">
          <div class="event-title">
            {{event.title}}
            <i class="fa fa-chevron-down" ng-click="showSummary($index)" ng-show="!summary[$index]"></i>
            <i class="fa fa-chevron-up" ng-click="hideSummary($index)" ng-show="summary[$index]"></i>
          </div>
          <div class="event-summary" ng-show="summary[$index]">
            {{event.summary}}
          </div>
        </div>
      </li>     
    </ul>
    <span>* This Schedule is tentative. Register yourself to remain updated.</span>
  </article>
</section>
<section id="registration">
   <article>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </article>
</section>
<section id="reach-us">
  <div id="reach">
    <iframe width=100% height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=108301311845468164043.0004812230c8dececc488&amp;ll=32.844981,74.995422&amp;spn=0.461503,0.384521&amp;z=11&amp;output=embed"></iframe>

    <div class="container bar">
      <div class="row">
        <div class="col-md-5 col-sm-7 animated hiding location pull-right" data-animation="fadeInLeft" data-delay="0">
          <h1>Location</h1>
          <ul itemscope="" itemtype="http://schema.org/PostalAddress">
            <li itemprop="address"><i class="fa fa-map-marker highlight"></i>&#32;&#32;School of
            CSE ,SMVDU, Katra, J&K</li>
            <li itemprop="email"><i class="fa fa-envelope highlight"></i>&#32;&#32;sfd-smvdu@gmail.com</li>
            <li itemprop="telephone"><i class="fa fa-phone highlight"></i>&#32;&#32;(+91) 9469442968 (Rishab)</li>
            <li itemprop="telephone"><i class="fa fa-phone highlight"></i>&#32;&#32;(+91) 8285543936 (Anuj)</li>
            <li itemprop="telephone"><i class="fa fa-phone highlight"></i>&#32;&#32;(+91) 8130528635 ()</li>
            <li itemscope="" itemtype="http://schema.org/Event"><i class="fa fa-clock-o highlight"></i><time itemprop="startDate" datetime="2014-09-20T09:30">&#32;&#32;9:30</time> - <time itemprop="endDate" datetime="2014-09-20T18:00">18:00</time></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div id="license">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
      <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
    </a>
  </div>
  <div id="license-content">
    <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">This SFD Website</span>
    is licensed under a 
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution License</a>.
  </div>
  <div id="follow">
    <a href="https://github.com/smvdu/sfd-smvdu" target="_blank"><i class="fa fa-github fa-2x"></i></a>
  </div>
</footer>
