<header id="main-header" my-scroll-directive>
  <div>
    SFD SMVDU
  </div>
  <nav>
    <ul>
      <li ng-click='scrollTo("home")'><a href="#home" du-scrollspy du-smooth-scroll>Home</a>
      <li ng-click='scrollTo("about")'><a href="#about" du-scrollspy du-smooth-scroll>About</a>
      <li ng-click='scrollTo("events")'><a href="#events" du-scrollspy du-smooth-scroll>Events</a>
      <li ng-click='scrollTo("registration")'><a href="#registration" du-scrollspy du-smooth-scroll>Registration</a>
      <li ng-click='scrollTo("reach-us")'><a href="#reach-us" du-scrollspy du-smooth-scroll>Reach Us</a>
    </ul>
  </nav>
</header>
<section id="home">
  <p id='sfd-title'>Software Freedom Day<p>
  <p id="smvdu">SMVDU</p>
  <p id="on-date">20th September 2014</p>
  <p><a class="btn btn-lg btn-outline" ng-href="#" ng-click='scrollTo("registration")'>Register</a></p>
</section>
<section id="about">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</section>
<section id="events">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</section>
<section id="registration">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</section>
<section id="reach-us">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</section>
<footer>
  <div id="nav-left">
      <span>Website is developed using open source technology. All resources here.</span>
  </div>
  <div id="nav-git">
      <a class="webicon github large" href="https://github.com/smvdu/sfd-smvdu">Github</a>
  </div>
  <div id="nav-right">
      Developed and Maintained By: <br/>
      &bull;SFD SMVDU TEAM
  </div>
</footer>
