<header id="main-header" my-scroll-directive>
  <div>
    SFD SMVDU
  </div>
  <nav>
    <ul id="large-screen">
      <li><a href="#home" du-scrollspy du-smooth-scroll>Home</a>
      <li><a href="#about" du-scrollspy du-smooth-scroll>About</a>
      <li><a href="#events" du-scrollspy du-smooth-scroll>Events</a>
      <li><a href="#registration" du-scrollspy du-smooth-scroll>Registration</a>
      <li><a href="#reach" du-scrollspy du-smooth-scroll>Reach Us</a>
    </ul>
    <ul id="small-screen">
      <li><a href="#home" du-scrollspy du-smooth-scroll><i class="fa fa-home"></i></a>
      <li><a href="#about" du-scrollspy du-smooth-scroll><i class="fa fa-font"></i></a>
      <li><a href="#events" du-scrollspy du-smooth-scroll><i class="fa fa-ticket"></i></a>
      <li><a href="#registration" du-scrollspy du-smooth-scroll><i class="fa fa-user"></i></a>
      <li><a href="#reach" du-scrollspy du-smooth-scroll><i class="fa fa-map-marker"></i></a>
    </ul>
  </nav>
</header>
<section id="home">
  <p id='sfd-title'>Software Freedom Day</p>
  <div>
    <div><hr/></div>
    <div id="smvdu"><i class="fa fa-calendar"></i> 20th - 28th September 2014,  <i class="fa fa-map-marker"></i> SMVDU</div>
    <div><hr/></div>
  </div>
  <p><a class="btn btn-lg btn-outline" href="#registration" du-scrollspy du-smooth-scroll>Register</a></p>
  <!--<div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2"> <h3>Starts In <timer countdown="endTime" interval="1000">{{days}} days, {{hours}} hours, {{minutes}} minutes and {{seconds}} seconds</timer></h3></div>
    </div>
  </div>-->
</section>
<section id="about">
    <article>
      <span class="big">S</span>oftware <span class="big">F</span>reedom <span class="big">D</span>ay is dedicated to the world of Open Source. It is a worldwide celebration of Open Source and Free Software. Being an alma mater of numerous Open Source Contributers and Supporters,  <span class="bold">SMVDU</span> is going to continue to be a part of <span class="bold">SFD 2014</span>, which falls on  <span class="bold">20th September</span> this year. This year we are expanding this celebration for almost a whole week, which will end on <span class="bold">28th September</span>. In the spirit of Open Source Revolution we will be supporting and spreading the word about Open Source World by conducting a few workshops, competitions and talks during this Software Freedom Day Celebrations. It's going to be a week full of knowledge, contribution and fun. We are eagerly waiting for you to be a part of Software Freedom Day Celebrations at SMVDU.
    </article>
</section>
<section id="events">
  <article>
    <h1>Event Schedule</h1>
    <ul>
      <li ng-repeat="event in events track by $index" ng-class="checkListApart($index)">
        <div class="date-time-place">
          <div class="date" ng-show="summary[$index]"><i class="fa fa-calendar-o"></i> {{event.date}}</div>
          <div class="time"><i class="fa fa-clock-o"></i> {{event.time}}</div>
          <div class="place" ng-show="summary[$index]"><i class="fa fa-map-marker"></i> {{event.place}}</div>
        </div>
        <div class="event-info-wrapper">
          <div class="event-title">
            {{event.title}}
            <i class="fa fa-chevron-down" ng-click="showSummary($index)" ng-show="!summary[$index]"></i>
            <i class="fa fa-chevron-up" ng-click="hideSummary($index)" ng-show="summary[$index]"></i>
          </div>
          <div class="event-summary" ng-show="summary[$index]">
            {{event.summary}}
            <br>
            <br>
            <p class="event-organizer" ng-show="event.organizer">Organizer: {{event.organizer}}</p>
          </div>
        </div>
      </li>
    </ul>
    <!--<span>* This Schedule is tentative. Register yourself to remain updated.</span>-->
  </article>
</section>
<section id="registration">
  <article id="loc">
    <div class="row text-center">
      <h1>Register Here</h1>
      <span>Total no. of users registered : {{users.length}}</span>
    </div>
    <div class="alert alert-success alert-dismissible" role="alert" ng-show="form.submit">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Well done!</strong> You have successfully registered for SFD'14 SMVDU.
    </div>
    <div class="alert alert-danger alert-dismissible" role="alert" ng-show="form.userExist">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Sorry !</strong> This email-id is already registered.
    </div>
  </hr>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <form  name="registerForm" id="loc" role="form" ng-submit="registerForm.$valid && registerUser(user)" autocomplete="off"  novalidate >

        <div class="form-group" ng-class="{ 'has-error' : registerForm.name.$invalid && !registerForm.name.$pristine }">
          <label for="name">Name</label>
          <input type="text" name="name" ng-model="user.name" class="form-control" placeholder="Name" id="" autocomplete="off" required>
          <p ng-show="registerForm.name.$invalid && !registerForm.name.$pristine" class="help-block">You name is required.</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : registerForm.email.$invalid && !registerForm.email.$pristine }">
          <label for="email">Email</label>
          <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="Email" id="" autocomplete="off"  required>
          <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : registerForm.password.$invalid && !registerForm.password.$pristine }">
          <label for="password">Password</label>
          <input type="password" name="password" ng-model="user.password" ng-minlength="4" class="form-control" placeholder="Password" id="" autocomplete="off" required>
          <p ng-show="registerForm.password.$error.minlength" class="help-block">Password is too short.</p>
        </div>

       <div class="form-group" ng-class="{ 'has-error' : (registerForm.university1.$invalid && !registerForm.university1.$pristine) || (registerForm.university2.$invalid && !registerForm.university2.$pristine) }">
          <label for="university">University/Organisation</label>
          <select name="university1" class="form-control" ng-model="tmp.university1" required>
            <option value="" selected>-- Choose University/Organization --</option>
            <option ng-repeat="college in colleges" value="{{college.name+','+college.place}}" ng-bind="college.name+','+college.place"></option>
            <option value="other">Other</option>
          </select>
          <input type="text" name="university2" ng-model="tmp.university2" class="form-control" placeholder="Enter Name of University/Organization" id="" autocomplete="off" ng-if="tmp.university1==='other'" required>
          <p ng-show="registerForm.university1.$invalid && !registerForm.university1.$pristine" class="help-block">University/Organisation name is required.</p>
          <p ng-show="registerForm.university2.$invalid && !registerForm.university2.$pristine" class="help-block">University/Organisation name is required.</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : registerForm.location.$invalid && !registerForm.location.$pristine }">
          <label for="location">Location</label>
          <input type="text" name="location" ng-model="user.location" class="form-control" placeholder="Location" id="" autocomplete="off"  required>
          <p ng-show="registerForm.location.$invalid && !registerForm.location.$pristine" class="help-block">Location is required.</p>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block btn-lg" ng-disabled="registerForm.$invalid">Register Here</button>
        </div>
      </form>
    </div>
  </div>
  </article>
</section>
<section id="reach">
  <article>
    <iframe width="425" height="350" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=74.8227310180664%2C32.85392235373631%2C75.0857162475586%2C33.02708758002874&amp;layer=mapnik&amp;marker=32.94040329009112%2C74.9542236328125" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=32.9404&amp;mlon=74.9542#map=12/32.9405/74.9542&amp;layers=N">View Larger Map</a></small>

    <div id="contacts">
      <h2>Contacts</h2>
      <ul itemscope="" itemtype="http://schema.org/PostalAddress">
        <li itemprop="address"><i class="fa fa-map-marker highlight"></i>&#32;&#32;School of
        CSE, SMVDU</li>
        <li itemprop="email"><i class="fa fa-envelope highlight"></i>&#32;&#32;sfd.smvdu@gmail.com</li>
        <li itemprop="telephone"><i class="fa fa-phone highlight"></i>&#32;&#32;(+91) 8285543936 (Mr. Anuj Mahajan)</li>
        <li itemprop="telephone"><i class="fa fa-phone highlight"></i>&#32;&#32;(+91) 9469442968 (Rishabh)</li>
        <li itemprop="telephone"><i class="fa fa-phone highlight"></i>&#32;&#32;(+91) 9797521857 (Parbhat)</li>        
      </ul>
    </div>

  </article>
</section>
<footer>
  <div id="license">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
      <img alt="Creative Commons License" style="border-width:0" src="images/cclicense.png" />
    </a>
  </div>
  <div id="license-content">
    <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">This SFD Website</span>
    is licensed under a
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution License</a>.
  </div>
  <div id="follow">
    <a href="https://github.com/smvdu/sfd-smvdu" target="_blank"><i class="fa fa-github fa-2x"></i></a>
  </div>
</footer>
